/** Très petits écrans (smartphones, moins de 768px) */
/* Pas besoin de media-query, c'est le style par défaut */



header, .form {
  border: 2px solid black;
}

body {
  background-color: #201d1b;
}

section {
  border: 2px solid black;
  margin-bottom: 9px;
}

ul, li {
  display: flex;
  justify-content: space-between;
}

ul {
  width: 70%;
}

h1, li, h2, figcaption, label, p  {
  color:  #f3c20d;
  font-family: 'Kaushan Script', cursive;
}

h1 {
  text-align: center;
}

footer {
  display: none;
}

.texte {
  height: 40px;
}

/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) {

p {
    color:  #08f708;
  }

footer {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
  }


}





/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) {

}
