/* Très petits écrans (smartphones, moins de 768px) */
/* Pas besoin de media-query, c'est le style par défaut */
/*************************************************
************************************************
************       MOBILE         **************
************************************************
*************************************************/
html{
  background: url("../img/bg.jpg") no-repeat fixed center center / cover;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
display: flex;
justify-content: space-around;
width: 90%;
}

li {
  font-family: 'Kaushan Script', cursive;
  justify-content: space-between;
  align-items: flex-end;
  color:  #dff906;
}

h1 {
 text-align: center;
 margin-top: 30px;
 font-family: 'Kaushan Script', cursive;
 font-size: 50px;
 color:  #e81a33;

}

a {
  color:  #202afa;
  text-decoration: none;
}


/* Petits écrans (tablettes, 768px et plus) */
@media (min-width: 768px) {...}
/*************************************************
************************************************
************       TABLETTE       **************
************************************************
*************************************************/






/* Ecrans moyens (desktops, 992px et plus) */
@media (min-width: 992px) {...}
/*************************************************
************************************************
************       PC             **************
************************************************
*************************************************/
